body {
    background-color: orange;
    font-family: verdana;
}
.textcurt {
    width: 300px;
}
#inputEdat {
    width: 100px;
}
.bottons {
    line-height: normal;
    background-color: yellow;
}
.textcurt:focus{
    color: red;
}
#inputEdat:focus {
    background-color: blueviolet;
}
.bottons:hover {
    background-color: yellowgreen;
}
.curs:focus{
    background-color: blueviolet;
}
.tema:focus{
    background-color: blueviolet;
}
#cursCursat:focus{
    background-color: rgb(59, 162, 105);
}
#textarea:focus{
    color: red;
}


